* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 2rem;
}

.reseteoBS {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

hgroup {
  padding: 0 0 0 10px;
}
hgroup h1 {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}
hgroup h2 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 400px) {
  hgroup h1, hgroup h2 {
    display: none;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.75rem;
  font-weight: bolder;
  padding: 10px 0;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
  text-align: justify;
}
p a {
  color: #fdcae1;
  font-weight: bolder;
  text-decoration: none;
}
p a:hover {
  color: white;
  text-decoration: underline;
}

.textoBlanco {
  color: white;
}
.textoBlanco:hover {
  color: black;
}

.centrarTexto {
  text-align: center;
}

.textoInline {
  display: inline-block;
}

header {
  background-color: #84b6f4;
  border-radius: 7vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
header div {
  margin-left: 1vw;
}
header div nav {
  display: inline-block;
  padding: 5px;
}
header div nav ul {
  list-style-type: none;
}
header div nav ul li {
  font-size: 1.5rem;
  text-align: end;
  text-decoration: none;
}
header div nav ul li a {
  color: white;
}
header div nav ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

main {
  background-color: #fdcae1;
  color: black;
  padding: 2vw 0;
  margin-bottom: 1vw;
  border-radius: 5vw;
}

section {
  background-color: #e2eefc;
  margin-bottom: 1vw;
  margin-top: 1vw;
  padding: 2.5vw 0;
  border-radius: 5vw;
}
section h2 {
  font-weight: bold;
  padding: 10px 0;
}

footer {
  background-color: #84b6f4;
  color: black;
  border-radius: 7vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
footer div {
  margin-left: 1vw;
}
footer div div h2 {
  margin: 0;
  padding: 0;
}
footer div div div p {
  font-size: 1.5rem;
}
footer div div div p a {
  color: black;
  text-decoration-line: none;
  font-weight: bold;
  padding: 10px 5px;
  font-size: large;
}
footer div div div p a i {
  font-size: xx-large;
}
footer div div div p a:hover {
  color: #fdcae1;
}
footer div div div i {
  padding: 5px;
}

.tarjeta {
  border: 5px solid #fdcae1;
  background-color: #fdcae1;
  border-radius: 8px;
  padding: 5px;
  margin: 15px 5px;
  width: 30%;
  transition: 500ms;
}
@media screen and (max-width: 768px) {
  .tarjeta {
    width: 45%;
  }
}

.tarjeta:hover {
  background-color: white;
  transform: scale(1.03);
}

.botonVamos {
  background-color: #84b6f4;
  border: 3px #84b6f4 solid;
  display: inline-block;
  color: black;
  font-weight: bolder;
  font-size: x-large;
  padding: 5px;
  transition: 500ms;
}
.botonVamos:hover {
  transform: translateX(10px);
  background-color: #e2eefc;
  text-decoration: underline;
  font-variant: small-caps;
  color: black;
}

.estiloDeNumero {
  border-radius: 50%;
  border: black 2px solid;
  text-align: center;
  display: inline-block;
  width: 5.5vw;
  height: 5.5vw;
  margin-top: 0.25vw;
  margin-bottom: 0.25vw;
}

.disponible {
  background-color: white;
}
.disponible:hover {
  font-weight: bold;
  text-decoration: underline;
}

.reservado {
  background-color: lightgoldenrodyellow;
}

.pagado {
  background-color: lightblue;
}

.seleccionado {
  background-color: orange;
}
.seleccionado:hover {
  font-weight: bold;
  text-decoration: underline;
}

.circuloBlanco {
  background-color: white;
}

.circuloNaranja {
  background-color: orange;
}

.bgSecundario {
  background-color: #fee3ef;
}

.parallax {
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}

.parallax1 {
  background-image: url(../../img/parallax1.svg);
  background-size: fill;
}

.parallax2 {
  background-image: url(../../img/parallax2.svg);
  background-size: fill;
}

.parallax3 {
  background-image: url(../../img/parallax3.svg);
  background-size: fill;
}

.ocultar768 {
  visibility: visible;
}
@media screen and (max-width: 768px) {
  .ocultar768 {
    display: none;
  }
}

.btnVolver {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  border: 2px solid white;
  background-color: #84b6f4;
  text-align: center;
  transition: 0.5s;
  color: white;
  --bs-link-color: white;
  border-radius: 10px;
}
.btnVolver:hover {
  color: #fdcae1;
  --bs-link-hover-color:$color-secundario;
  border: 2px solid #fdcae1;
}

#sinNumeros {
  color: white;
  font-weight: bold;
  height: 200px;
}

#referencias {
  background-color: rgb(255, 237, 240);
  padding: 1vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

#grillaDeNumeros {
  background-color: gray;
  padding: 1vw;
}

#aComprar {
  padding: 5vw 5%;
}

/*# sourceMappingURL=styles.css.map */
