* {
    padding:0;
    margin:0;
}

p{
    padding:0;
    margin:0;
}

#sinNumeros{
    color:white;
    font-weight: bold;
    height: 200px;
}

#referencias{
    background-color: rgb(255, 237, 240);
    padding: 1vw;
    margin-top:3vw;
    margin-bottom: 3vw;
}
#grillaDeNumeros {
    background-color: gray;
    padding: 1vw;
}

.estiloDeNumero{
    border-radius: 50%;
    border: black 2px solid;
    text-align: center;
    display: inline-block;
    width: 5.5vw;
    height: 5.5vw;
    margin-top:0.25vw;
    margin-bottom:0.25vw;
}

.disponible{
    background-color: white;
}
.disponible:hover{
    font-weight: bold;
    text-decoration: underline;
}
.reservado{
    background-color: lightgoldenrodyellow;
}

.pagado{
    background-color: lightblue;
}

.seleccionado{
    background-color: orange;
}
.seleccionado:hover{
    font-weight: bold;
    text-decoration: underline;
}

#aComprar{
    padding: 5vw 5%;

}